/* switch.css */
.toggle-container {
    position: fixed;
    top: 10px; /* Adjust the top spacing if needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-right: 10px; /* Space between switch and label */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

body.dark-mode .switch input:checked + .slider {
    background-color: #2196F3;
}

body.dark-mode .switch input:checked + .slider:before {
    transform: translateX(25px);
}

.toggle-label {
    font-size: 16px;
    color: #333;
}
